#signin-main{
    width: 100%;
    height: 90%;
}

#signin-form{
    background-color: var(--grey);
    width: 90%;
    height: 90%;
    border-radius: 7px;
    color: var(--dark-blue)
}

#signin-form h2{
    margin-bottom: 50px;
}

#signin-form button{
    width: 35%;
    height: 40px;
    margin: 25px 0 50px 0;
    background-color: var(--dark-blue);
    color: var(--font);
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    border: 0;
}


