@media screen and (min-width:900px){
    #calendar-main{
        display: block;
        width: 100%;
        height: 100%;
    }

    #calendar-con{
        width: 100%;
        height: 80%;
    }

    #date-select-con{
        font-size: 2rem;
        height: 10%;
        color: var(--yellow);
        background-color: var(--dark-blue);
    }

    #date-select-con select{
        height: 90%;
        padding: 3px;
        background-color: var(--dark-blue);
        color: var(--yellow);
        border: 0;
        cursor: pointer;
        font-size: 1.3rem;
    }

    #month-select{
        text-align: center;
        margin-right: 10px;
    }

    #days-con{
        width: 100%;
        height: 90%;
        display: grid;
    }

    .day{
        text-align: center;
        background-color: var(--grey);
        color: var(--dark-blue);
        border: 1px solid var(--dark-blue);
    }

    .day-names{
        background-color: var(--dark-blue);
        color: var(--yellow);
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px dashed var(--purple);
    }
}