#home-main{
    height: 83%;
}

#nav-bar{
    display: none
}

#tool-bar{
    width: 100%;
    height:8%;
}

#tool-bar button{
    border-radius: 0;
    border: 0;
    border-left: 1px solid var(--dark-blue);
    width: 100%;
    background: var(--grey);
    color: var(--dark-blue);
}

#new-project-modal{
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--grey);
    transition: ease-in-out 1.2s;
}

#new-project-modal form{
    width: 90%;
    height: 80%;
    background-color: var(--dark-blue);
    border-radius: 7px;
}

#new-project-modal form h2{
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-form-btn-con{
    margin-top: 30px;
}

.modal-form-btn-con button{
    width: 35%;
    height: 40px;
    border-radius: 7px;
    margin-right: 10px;
    background-color: var(--grey);
    color: var(--dark-blue);
    
}

.recent-project{
    height: 55px;
    padding: 5px;
    border-bottom: 1px solid var(--grey);

}

#recent-projects-table{
    padding: 7px; 
}

#recent-projects-table h2{
    height: 50px;
    font-size: 1.3rem;
}

#recent-projects-table table{
    border-collapse: collapse;
}

#recent-projects-table th, #recent-projects-table td{
    width: 100%;
    height: 45px;
    padding: 7px;
    border-bottom: 1px solid var(--grey);
    text-align: left;
}