#home-main{
    display: none;
}

#home-main-mobile{
    display: block;
    height: 83%;
}


#tool-bar{
    width: 100%;
    height:8%;
}

#tool-bar button{
    border-radius: 0;
    border: 0;
    border-left: 1px solid var(--dark-blue);
    width: 100%;
    background: var(--grey);
    color: var(--dark-blue);
}

#new-project-modal, #new-idea-modal{
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--grey);
    transition: ease-in-out 1.2s;
}

#new-project-modal form, #new-idea-modal form{
    width: 90%;
    height: 80%;
    background-color: var(--dark-blue);
    border-radius: 7px;
}

#new-project-modal form h2{
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}

#new-idea-modal form h2{
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 500; 
}

#new-idea-modal form select{
    height: 40px;
    border-radius: 5px;
    color: var(--dark-blue);
}

.modal-form-btn-con{
    margin-top: 30px;
}

.modal-form-btn-con button{
    width: 35%;
    height: 40px;
    border-radius: 7px;
    margin-right: 10px;
    background-color: var(--grey);
    color: var(--dark-blue);
    
}



#projects-table{
    width: 100%;
    height: 77%;
    padding: 7px; 
}

#projects-table h2{
    height: 50px;
    font-size: 1.3rem;
    color: var(--yellow);
}

#projects-table table{
    border-collapse: collapse;
}

#projects-table th{
    width: 100%;
    height: 45px;
    padding: 7px;
    border-bottom: 3px solid var(--purple);
    color: var(--yellow);
    text-align: left;
}

#projects-table td{
    width: 100%;
    height: 45px;
    padding: 7px;
    text-align: left;  
}

#projects-table tr{
    border-bottom: 1px solid var(--grey);
}

#dashboard-elements-con{
    width: 100%;
    height: 47%;
    justify-content: space-around;
}

.dashboard-element{
    width: 45%;
    height: 85%;
    border-radius: 7px;
    background: var(--grey) ;
}

@media screen and (min-width:900px){
    #home-main-mobile{
        display: none;
    }

    #home-main{
        display: block;
        height: 100%;
    }

    
    #nav-bar{
        display: flex;
    }

    .con{
        height: 80%;
        width: 100%;
    }

    #recent-projects-table h2{
        height: 35px;
    }

    #recent-projects-table th{
        height: 30px;
    }

    #progress-bar-con{
        border: 1px solid var(--purple);
        height: 50%;
    }
}