#nav-bar{
    display: none;
}

#header{
    display: none;
}


#home-main{
    display: block;
    height: 100%;
}


#tool-bar{
    width: 100%;
    height: 8%;
}

#tool-bar button{
    border-radius: 0;
    border: 0;
    border-left: 1px solid var(--dark-blue);
    width: 100%;
    background: var(--grey);
    color: var(--dark-blue);
}

#new-project-modal{
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--grey);
    transition: ease-in-out 1.2s;
}

#new-project-modal form{
    width: 90%;
    height: 80%;
    background-color: var(--dark-blue);
    border-radius: 7px;
}

#new-project-modal form h2{
    margin-bottom: 50px;
    font-size: 1.5rem;
    font-weight: 500;
}

.modal-form-btn-con{
    margin-top: 30px;
}

.modal-form-btn-con button{
    width: 35%;
    height: 40px;
    border-radius: 7px;
    margin-right: 10px;
    background-color: var(--grey);
    color: var(--dark-blue);
    
}

#projects-table{
    width: 100%;
    height: 77%;
    padding: 7px; 
    overflow: scroll;
}

#projects-table h2{
    height: 50px;
    font-size: 1.3rem;
    color: var(--yellow);
}

#new-project-bar{
    display: none;
    justify-content: space-evenly;
    width: 100%;
    height: 15%;
}

#dt-new-project{
    display: none;
}

#projects-table table{
    height: 100%;
    border-collapse: collapse;
}

#projects-table th{
    width: 100%;
    height: 45px;
    padding: 7px;
    border-bottom: 3px solid var(--purple);
    color: var(--yellow);
    text-align: left;
}

#projects-table td{
    width: 100%;
    height: 45px;
    padding: 7px;
    text-align: left;  
}

#projects-table tr{
    border-bottom: 1px solid var(--grey);
}

.project-table-row:hover{
    background-color: var(--purple);
    color: var(--yellow);
}

#view-project-btn{
    padding: 7px;
    cursor: pointer;
    background: var(--grey);
    color: var(--dark-blue);
    border: none;
    border-radius: 5px;
}

#formbar-cancel-btn, #dt-new-project{
    display: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    background: var(--grey);
    color: var(--dark-blue);
    cursor: pointer;
}

#formbar-cancel-btn{
    color: red;
}

#tasks-con{
    display: none;
}

@media screen and (min-width:900px){
    #header {
        display: flex;
    }

    #nav-bar{
        display: flex;
    }

    #dt-new-project{
        display: block;
    }

    #mobile-header{
        display: none;
    }

    #nav-con{
        display: none;
    }

    #tool-bar{
        display: none;
    }


    
    #nav-bar{
        display: flex;
    }

    #new-project-bar button{
        border-radius: 5px;
        border: none;
        height: 40px;
        margin-top: 5px;
        padding: 5px;
        font-size: 16px;
        background: var(--grey);
        color: var(--dark-blue);
        cursor: pointer;
    }

    #tasks-con{
        display: flex;
        overflow: scroll;
    }

    .con{
        height: 80%;
        width: 100%;
    }

    #projects-table{
        height: 100%;
    }

  
    #projects-table h2{
        height: 35px;
    }

    #projects-table th{
        height: 30px;
    }

    #progress-bar-con{
        border: 1px solid var(--purple);
        height: 50%;
    }
}