
#home-body{
    background-color: var(--dark-blue);
    color: var(--font)
}

#home-body header{
    height: 10%;
    padding:7px;
    justify-content: space-between;
    align-items: center;
}

#home-body h1{
    font-size: 1.5rem;
    
}

#menu-button{
    width: 10%;
    height: 50%;
    color: var(--dark-blue);
    background: var(--grey);
    border: 0;
    cursor: pointer;
    border-radius: 7px;
    margin-right: 12px;
}