#signup-page {
    background-image: url('../photos/laptop.jpg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: whitesmoke
}

#banner {
    width: 100%;
    height: 5%;
    padding: 5px;
    color: whitesmoke;
}

#signup-main {
    width: 100%;
    height: 100%;
}



.demo {
    display: none;
    width: 50%;
    height: 100%;
}

.mobile-landing {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.mobile-landing button {
    margin: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    color: whitesmoke;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    background-color: #3c4d57
}

.signup-form {
    width: 80%;
    height: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 7px;
    
}

.form-elements {
    display: flex;
    flex-direction: column;
}

.form-elements input {
    border-radius: 5px
}



