:root{
--font: whitesmoke;
--dark-blue: #152733

}

#signup-body{
    background-image: url('../photos/laptop.jpg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.header{
    width: 100%;
    height: 10%;
    font-size: 1rem;
}

.header h1{
    margin-right: 20px;
    padding: 5px;
    color: var(--font);
}

#signup-main{
    width: 100%;
    height: 90%;
}

#demo{
    display: none;
}

#mobile-landing button{
    width: 50%;
    height: 5%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(21, 39, 51, .9);
    border-color: var(--font);
    color: var(--font);
    font-weight: 500;
}

.signup-form-con{
    background-color: #818b94;
}

#signup-form{
    width: 90%;
    height: 75%;
    border-radius: 5px;
    background-color: var(--dark-blue);
    color: var(--font);
}

.form-elements{
    width: 75%;
    justify-content: space-around;
    align-items: left;
    margin: 20px;
}

.form-elements input{
    border-radius: 5px;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
}

#signup-button{
    width: 35%;
    height: 40px;
    margin: 25px 0 50px 0;
    background-color: #818b94;
    color: var(--dark-blue);
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
}


#signin-link{
    margin-left: 4px;
}




